@use 'sass:math';

$fade: fade;
$shake: shake;

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shake {
    @for $i from 0 to 10 {
        #{$i * 10%} {
            transform: translate(#{math.random() * 2 - 1}px, #{math.random() * 2 - 1}px) rotate(#{math.random() * 3 - 1.5}deg);
        }
    }
}