
@use '../styles/animations';

.heart {
    $duration: 0.5s;
    color: red;
    transition: opacity $duration;
    &.hidden {
        &.animated {
            animation-name: animations.$shake;
            animation-duration: $duration;
            animation-direction: normal;
            animation-fill-mode: none;
        }
        opacity: 0;
    }
    &:not(.hidden) {
        animation: animations.$fade $duration;
    }
}

.hint-button {
    animation: animations.$fade 1s;
}