@use '../styles/colors';
@use '../styles/animations';

.guess-table {
    animation: animations.$fade 0.5s;
}

.guess-table td.ant-table-cell {
    padding: 0 !important;
    border-radius: 0px;
}

.guess-table .ant-empty {
    padding-top: 16px;
    padding-bottom: 16px;
}

.guess-table .ant-empty .anticon {
    color: colors.$dark-grey-2;
    font-size: 84px;
}

.guess-table .ant-table {
    border: 1px solid colors.$border;
    border-radius: 8px;
    overflow: scroll;
}

.guess-table .ant-tag.ant-tooltip-open {
    font-size: 12px
}

.guess-table-col-title {
    min-width: 150px;
}

.guess-table .ant-table-row {
    animation: animations.$fade 1s;
    @for $i from 1 through 8 {
        .ant-table-cell:nth-child(#{$i}) {
            animation-name: animations.$fade;
            animation-duration: 1s;
            animation-fill-mode: backwards;
            animation-delay: $i * (.05s);
        }
    }
}

.guess-table tr.ant-table-row > td.ant-table-cell.color-correct {
    background-color: colors.$green-2;
}

.guess-table tr.ant-table-row > td.ant-table-cell.color-incorrect {
    background-color: colors.$red-2;
}

.guess-table tr.ant-table-row > td.ant-table-cell.color-close {
    background-color: colors.$orange-2;
}

.guess-table .ant-table-cell > div {
    padding: 16px;
}

.guess-table th.ant-table-cell {
    white-space: nowrap;
}