@use '../styles/colors';

.playlist-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ant-pagination .ant-pagination-prev {
    display: none;
}

.ant-pagination .ant-pagination-next {
    display: none;
}

.ant-pagination .ant-pagination-item {
    background-color: transparent;
    overflow: hidden;
}

.ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):not(.page-completed) {
    border: 1px solid colors.$border;
}

.ant-pagination .ant-pagination-item .page-completed-success {
    background-color: colors.$green-2;
}

.ant-pagination .ant-pagination-item .page-completed-failed {
    background-color: colors.$red-2;
}