@use 'styles/colors';
@use 'styles/animations';

.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: transparent;
}

.main-layout .main-layout-content {
    animation: animations.$fade 1s;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 5%;
    padding-right: 5%;
}

.content-holder {
    width: 100%;
}

.main-layout .ant-layout-footer {
    z-index: 2;
}

.text-subtext {
    color: colors.$grey-4;
}

.green-primary {
    color: colors.$green-primary !important;
}

.red-primary {
    color: colors.$red-primary !important;
}

.modal-separator {
    height: 1px;
    border-width: 0;
    background-color: colors.$dark-grey-2
}