.main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    background-color: transparent;
}

.main-layout .main-layout-content {
    height: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 5%;
    padding-right: 5%;
}

.content-holder {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}

.content-holder .content-separator {
    min-height: 16px;
    flex-grow: 1;
}

.ant-pagination .ant-pagination-prev {
    display: none;
}

.ant-pagination .ant-pagination-next {
    display: none;
}

.ant-pagination .ant-pagination-item {
    background-color: transparent;
    overflow: hidden;
}

.ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):not(.page-completed) {
    border: 1px solid #d9d9d9;
}

.ant-pagination .ant-pagination-item .page-completed {
    background-color: rgba(82, 196, 26, 0.4);
    color: #3d3d3d
}