@use 'styles/mixins';

.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: transparent;
}

.main-layout .main-layout-content {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 5%;
    padding-right: 5%;
}

.content-holder {
    @include mixins.FadeIn;
    width: 100%;
}

.main-layout .ant-layout-footer {
    z-index: 2;
}